.receita {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .receita h3 {
    color: #333;
  }
  
  .receita ul {
    list-style-type: none;
    padding: 0;
  }
  
  .receita li {
    margin-bottom: 8px;
    color: #555;
  }
  
  .receita p {
    color: #333;
  }
  