.barra-pesquisa {
    display: flexbox;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

input#barra {
    width: 400px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
}

input::placeholder {
    color: #aaa;
}
  