body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que a altura da tela seja pelo menos 100% da altura da viewport */
    overflow-x: hidden; /* Pode ser útil para evitar rolagem horizontal desnecessária */
    font-family: 'Times New Roman', Times, serif;
  }

.tudo {
    /*background-color: rgb(226, 209, 152);*/
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

.corpo {
    padding-bottom: 300px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* label */
.app {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
  
.image-label {
    display: flex;
    margin-top:0px;
    margin-bottom: 65px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}
  
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}
  
.image.exiting {
    transform: translateX(100%);
}

.pagina-inicial {
    display: flex;
    padding: 15px;
    margin-top:0px;
    padding-bottom: 1%;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
  
.header {
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}
  
.conteudo {
    margin: 32px;
    text-align: center;
    color: rgb(0, 0, 0);
}
  