.Ctudo {
    background-color: rgb(226, 209, 152);
    width: 100%;
}

.header {
    align-items: center;
    padding-bottom: 15px;
}

h1 {
    padding-bottom: 50px;
}

.searchbar {
    align-items: center;
}

.receitas-container {
    width: 60%;
    background-color: whitesmoke;
    margin: 0px 160px;
    box-sizing: border-box;
    border: 1px solid bisque;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem
}

/*footer*/


